{% extends "AprendizajeBundle:Default:index.html.twig" %}
{% block content %}
            <div class="col-lg-12">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab_1" data-toggle="tab">Recomendados</a></li>
                  <li><a href="#tab_2" data-toggle="tab">Recientes</a></li>
                  <li><a href="#tab_3" data-toggle="tab">Amigos</a></li>
                  <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                    <ul class="mailbox-attachments clearfix">
                      {% for video in videos %}
                        <li>
                        <span class="mailbox-attachment-icon has-img"><img src="/bundles/aprendizaje/dist/img/photo1.png" alt="Attachment"></span>
                        <div class="mailbox-attachment-info">
                          <a href="/ver/video/{{ video.id }}" class="mailbox-attachment-name"> {{ video.titulo }}</a>
                          <span class="mailbox-attachment-size">
                            2:04
                            <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-caret-square-o-right"></i></a>
                          </span>
                        </div>
                        </li>
                      {% endfor %}
                    </ul>
                  </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
              </div><!-- nav-tabs-custom -->
            </div>
{% endblock %}